.container .btn {
    background-color: #A16AE8;
    color: #fafafa;
    font-size: 1em;
    border-radius: 0.5em;
    border-color: #A16AE8;
}

.container .btn:hover {
    background-color: #8c63c2;
}

.asteriskField {
    display: none;
}

.alert {
    height: 20%;
}