{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'stylehomepage.css' %}">
{% endblock %}
{% block content %}
<div class="container-fluid text-center">
    <div class="row justify-content-center">
        <div class="column col-lg-12">
            <div style="text-align: center; justify-content: center;"> 
                <h1>Selamat Datang di MakanMinum!</h1><br>
                <p>Ditengah kondisi pandemi yang melanda, masyarakat tetap harus menjalankan aktivitas sehari-hari.</p>
                <p>Agar aktivitas dapat dijalankan dengan maksimal, tubuh harus senantiasa berada dalam kondisi prima.</p>
                <p>Kondisi prima dapat dicapai dengan makan dan minum yang cukup dan teratur.</p>
                <p>Oleh karena itu, mari berkreasi bersama MakanMinum dalam membuat makanan dan minuman!</p>
                <br><br> 
                {% if user.is_authenticated %} 
                <div class="container" style="margin-bottom: 8rem;">
                    <div class="row justify-content-center">
                        <div class="col-lg-4">
                            <a style="text-decoration:none" href="{% url 'tambahupdate:tulis' %}"><div class="button">Tulis Resep</div></a>
                        </div>
                        <div class="col-lg-4">
                            <a style="text-decoration:none" href="{% url 'kategori:kategori' %}"><div class="button">Jelajahi Resep</div></a> 
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="container" style="margin-bottom: 8rem;">
                    <div class="row justify-content-center">
                        <div class="col-lg-4">
                            <a style="text-decoration:none" href="{% url 'login' %}"><div class="button">Login</div></a>
                        </div>
                        <div class="col-lg-4">
                            <a style="text-decoration:none" href="{% url 'daftar' %}"><div class="button">Sign Up</div></a> 
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="column2 col-lg-12"> 
            <br><br>
            <h1>Rekomendasi dari kami</h1><br>
            <p>Resep-resep menarik dan up-to-date yang bisa langsung dicoba.</p>
            {% if list_resep %}
                <br><br>
                <div class="col-lg-12">
                    <div class="row justify-content-center">
                        {% for i in list_resep %}    
                            <div class="col-auto" style="margin-bottom: 4rem;">
                                <div class="card">
                                    {% if i.foto %}
                                        <img class="card-img-top" src="{{ i.foto.url }}" alt="{{ i.nama }}">
                                    {% else %}
                                        <img class="card-img-top" src="{% static 'NoPhoto.jpg' %}" alt="Resep tanpa foto">
                                    {% endif %}
                                    <div class="card-body" style="text-align: center;">
                                        <h5 class="card-title">{{ i.nama }}</h5>
                                        <p class="card-text">{{ i.deskripsi|truncatechars:80 }}</p>
                                        <a style="text-decoration:none" href="{% url 'detailComment:detail' i.nama %}" class="button">Selengkapnya</a><br></br>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <br><br><br>
                <h5>Belum ada resep yang tersedia.</h5>
                <br><br><br>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}