{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    {% if messages %}
        {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
</div>
<div class="container" style="margin-top: 8%;">
    <div class="col-lg-12 text-center">
        <h3>Masuk dengan akun Anda.</h3>
    </div>
</div>
<div class="container mt-4" style="margin-bottom: 8%;">
    <form method="POST"> {% csrf_token %}
        {{ form|crispy }}
        <p>Belum punya akun? Silakan daftar di <a href="{% url 'daftar' %}">sini</a></p>
        <button type="submit" class="btn btn-success">Masuk</button>
    </form>
</div>
{% endblock %}