{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'kategori.css' %}">
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <a href="{% url 'kategori:kategori' %}" class="btn btn-success"> < Kembali</a>
        <h1 style="text-align: center; padding-bottom: 2rem;" id="kategori">{{ kategori }}</h1>
    </div>
    {% if user.is_authenticated %}
    <div class="container">
        <div class="col-lg-12 text-center" style="padding-bottom: 3rem;">
            <input type="text" id="search" placeholder="Cari Resep">
        </div>
        <div class="col-lg-12" style="padding-bottom: 3rem;">
            <div id="searchresults"></div>
        </div>
    </div>
    {% endif %}
    <div class="col-lg-12">
        <h3 style="text-align: center; padding-bottom: 2rem;">Resep Tersedia</h3>
        <div class="row justify-content-center">
            {% if list_resep_by_kategori %}
                {% for resep in list_resep_by_kategori %}    
                        <div class="col-auto mb-3">
                            <a class="link-spesifik" style="color:black" href="{% url 'detailComment:detail' resep.nama %}">
                                <div class="card">
                                    {% if resep.foto %}
                                        <img class="card-img-top" src="{{ resep.foto.url }}" alt="{{ resep.nama }}">
                                    {% else %}
                                        <img class="card-img-top" src="{% static 'NoPhoto.jpg' %}" alt="Foto tanpa resep">
                                    {% endif %}
                                    <div class="card-body" style="text-align: center;">
                                        <p class="card-text">{{ resep.nama }}</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                {% endfor %}
            {% else %}
                <br><br><br>
                <h5>Belum ada resep yang tersedia.</h5>
                <br><br><br>
            {% endif %}
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/scriptKategori.js"></script>
{% endblock %}