{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'kategori.css' %}">
{% endblock %}
{% block content %}
<div class="container mt-5">
    <a href="{% url 'homepage:home' %}" class="btn btn-success"> < Kembali</a>

    {% if user.is_authenticated %}
    <h1 style="text-align: center; padding-bottom: 2rem;">Resep Terbaru</h1>
</div>
<div class="container mt-5 mb-5">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success" style="text-align: center;">{{ message }}</div>
        {% endfor %}
    {% endif %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
</div>
<div class="col-lg-12">
    <div class="row justify-content-center">
        {% if list_resep %}
            {% for resep in list_resep %}    
                <div class="col-auto mb-3">
                    <a class="link-spesifik" style="color:black" href="{% url 'detailComment:detail' resep.nama %}">
                        <div class="card">
                            {% if resep.foto %}
                                <img class="card-img-top" src="{{ resep.foto.url }}" alt="{{ resep.nama }}">
                            {% else %}
                                <img class="card-img-top" src="{% static 'NoPhoto.jpg' %}" alt="Resep tanpa foto">
                            {% endif %}
                            <div class="card-body" style="text-align: center;">
                                <p class="card-text">{{ resep.nama }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
                <br><br><br>
                <h5>Belum ada resep yang tersedia.</h5>
                <br><br><br>
        {% endif %}
    </div>

    {% endif %}
</div>
<div class="container mt-5">
    <h1 style="text-align: center; padding-bottom: 5rem;">Resep Berdasarkan Kategori</h1>
</div>
<div class="col-lg-12 mb-5">
    <div class="row justify-content-center">
        {% for kategori in list_kategori %}
            <div class="col-auto mb-3">
                <a class="link-spesifik" style="color:black" href="{{ kategori.get_absolute_url }}">
                    <div class="card">
                        {% if kategori.nama == "Ayam" %}
                            <img class="card-img-top" src="{% static 'Ayam.jpg' %}" alt="Ayam">
                            <div class="card-body" style="text-align: center;">
                                <p class="card-text">{{ kategori.nama }}</p>
                            </div>
                        {% elif kategori.nama == "Daging" %}
                            <img class="card-img-top" src="{% static 'Daging.jpg' %}" alt="Daging">
                            <div class="card-body" style="text-align: center;">
                                <p class="card-text">{{ kategori.nama }}</p>
                            </div>
                        {% elif kategori.nama == "Seafood" %}
                            <img class="card-img-top" src="{% static 'Seafood.jpg' %}" alt="Seafood">
                            <div class="card-body" style="text-align: center;">
                                <p class="card-text">{{ kategori.nama }}</p>
                            </div>
                        {% elif kategori.nama == "Tahu - Tempe - Telur" %}
                            <img class="card-img-top" src="{% static 'Tahu-Tempe-Telor.jpg' %}" alt="Tahu-Tempe-Telur">
                            <div class="card-body" style="text-align: center;">
                                <p class="card-text">{{ kategori.nama }}</p>
                            </div>
                        {% elif kategori.nama == "Sambal" %}
                            <img class="card-img-top" src="{% static 'Sambal.jpg' %}" alt="Sambal">
                            <div class="card-body" style="text-align: center;">
                                <p class="card-text">{{ kategori.nama }}</p>
                            </div>
                        {% elif kategori.nama == "Sayur" %}
                            <img class="card-img-top" src="{% static 'Sayur.jpg' %}" alt="Sayur">
                            <div class="card-body" style="text-align: center;">
                                <p class="card-text">{{ kategori.nama }}</p>
                            </div>
                        {% elif kategori.nama == "Dessert" %}
                            <img class="card-img-top" src="{% static 'Dessert.jpg' %}" alt="Dessert">
                            <div class="card-body" style="text-align: center;">
                                <p class="card-text">{{ kategori.nama }}</p>
                            </div>
                        {% elif kategori.nama == "Kue - Panganan Ringan" %}
                            <img class="card-img-top" src="{% static 'Kue.jpg' %}" alt="Kue">
                            <div class="card-body" style="text-align: center;">
                                <p class="card-text">{{ kategori.nama }}</p>
                            </div>
                        {% elif kategori.nama == "Minuman" %}
                            <img class="card-img-top" src="{% static 'Minuman.jpg' %}" alt="Minuman">
                            <div class="card-body" style="text-align: center;">
                                <p class="card-text">{{ kategori.nama }}</p>
                            </div>
                        {% else %}
                            <img class="card-img-top" src="{% static 'Lainnya.jpg' %}" alt="Lainnya">
                            <div class="card-body" style="text-align: center;">
                                <p class="card-text">{{ kategori.nama }}</p>
                            </div>
                        {% endif %}
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}