{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'styleaboutus.css' %}">
{% endblock %}
{% block content %}
<div class="container" style="padding-top: 4rem; padding-bottom: 4rem;">
    <div class="col-lg-12 pageTitle1">
        <h2>Tentang MakanMinum</h2>
    </div>
    <div class="col-lg-12 about">
        <p>
            Di tengah kondisi pandemi COVID-19, masyarakat tetap harus menjalankan aktivitas sehari-hari.
            Agar aktivitas dapat dijalankan dengan maksimal, tubuh harus senantiasa berada dalam kondisi prima.
            Kondisi prima dapat dicapai dengan makan dan minum yang sehat, cukup dan teratur.
            Dengan kondisi yang prima, kita pun bisa memunculkan ide-ide yang lebih segar lewat kreasi dan inovasi.
        </p>
        <p>
            Kami memahami benar bahwa kondisi pandemi saat ini dapat memunculkan potensi kreativitas yang lebih besar jika kita mampu melihat peluangnya.
            Jika kita perhatikan tren terkini, semakin banyak masyarakat yang senang membuat berbagai makanan dan minuman di rumah sendiri.
            Selain memastikan diri sendiri serta makanan dan minuman yang dibuat lebih aman dari potensi terpapar COVID-19, masyarakat pun dapat menyalurkan keinginannya berkreasi sembari mengisi waktu di sela-sela kegiatan Work From Home (WFH) maupun School For Home (SFH).
        </p>
        <p>
            Melihat situasi tersebut, kami terpikir untuk mengembangkan sebuah website yang dapat menjadi wadah segenap lapisan masyarakat untuk saling berbagi pengalaman.
            Pengalaman ketika memasak nasi goreng untuk pertama kalinya, membuat kue yang dilihat dari iklan televisi, maupun yang mungkin sekadar ikut-ikutan membuat es kopi dalgona.
            Pengalaman-pengalaman dari yang pemula hingga yang profesional, dirangkum dalam resep-resep makanan dan minuman yang bisa dicoba oleh setiap pengunjung website.
            Di masa pandemi ini kita kekurangan interaksi sosial, dan melalui website berbagi resep ini, kami harap interaksi sosial dapat tetap tersalurkan, sekecil apapun itu.
        </p>
        <p>
            Kami persembahkan, website MakanMinum. Selamat berbagi resep, dan mari berkreasi bersama MakanMinum dalam membuat makanan dan minuman!
        </p>
    </div>
</div>
<div class="container-fluid" style="background-color: #e0e0e0;">
    <div class="container" style="padding-top: 4rem; padding-bottom: 8rem;">
        <div class="col-lg-12 pageTitle2">
            <h2>Tim Pengembang MakanMinum</h2>
        </div>
        <div class="col-lg-12">
            <div class="row justify-content-center">
                    <div class="col-auto mb-3">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'Ahmad.png' %}" alt="Ahmad">
                            <div class="card-body" style="text-align: center;">
                                <p class="card-text">Ahmad Aminullah A.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto mb-3">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'Aryo.png' %}" alt="Aryo" >
                            <div class="card-body" style="text-align: center;">
                                <p class="card-text">Aryo Wicaksono</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto mb-3">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'Billy.png' %}" alt="Billy">
                            <div class="card-body" style="text-align: center;">
                                <p class="card-text">Billy Vande Yohannes</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto mb-3">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'Ardi.png' %}" alt="Ardi">
                            <div class="card-body" style="text-align: center;">
                                <p class="card-text">Lazuardi Pratama P.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-auto mb-3">
                        <div class="card">
                            <img class="card-img-top" src="{% static 'Raihan.png' %}" alt="Raihan">
                            <div class="card-body" style="text-align: center;">
                                <p class="card-text">Raihan Rizqi Muhtadiin</p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}