{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'stylekritiksaran.css' %}">
{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="margin-top: 2rem;">
    <div class="col-lg-12 pageTitle">
        <h2>Kritik & Saran</h2>
        <h3>Yuk, berikan umpan balik untuk MakanMinum! Setiap masukan sangat berharga bagi kami.</h3>
    </div>
</div>
<div class="container" style="margin-bottom: 4rem;">
    <div class="col-lg-6" style="margin: auto;">
        <form id="kritikform" action="." method="POST"> {% csrf_token %}
            {{ form.isi|as_crispy_field }}
            <div style="text-align: center; margin-top: 2rem;">
                <button type="submit" id="submitbutton" class="btn btn-primary">Kirim</button>
            </div>
        </form>
    </div>
</div>
<div class="container">
    <div class="col-lg-12 text-center">
        <input type="text" id="search" placeholder="Cari kritik dan saran...">
    </div>
    <div class="col-lg-12">
        <div id="searchresults"></div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/scriptkritik.js"></script>
{% endblock %}