@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');

/* overall HTML */
* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    color: #111111;
    font-family: "Roboto", sans-serif;
}

#content {
    flex: 1 0 auto;
}

/* customising django stylings */
.form-text ul {
    list-style-type: none;
}

/* customising some bootstrap classes */
.navbar-dark {
    background-color: #6ede52;
    padding-left: 3em;
    padding-right: 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.navbar-dark .navbar-brand {
    color: #fafafa;
    font-family: "Grandstander", sans-serif;
    font-size: 32px;
    margin-right: 1em;
}

.navbar-dark .navbar-nav {
    color: #eddbda;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.navbar-dark .navbar-nav .navbar-link.active {
    color: #fafafa;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

.page-footer {
    background-color: #6ede52;
    color: #fafafa;
    font-family: "Roboto", sans-serif;
    padding-left: 2em;
    padding-right: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.page-footer .btn {
    background-color: #6bb666;
    color: #fafafa;
    font-size: 16px;
    border-radius: 30px;
}

.page-footer .btn:hover {
    background-color: #60995c;
}

.page-footer ul {
    list-style-type: none;
}