.pageTitle1 h2 {
    margin-bottom: 2rem;
    font-size: 40px;
    text-align: center;
}

.pageTitle2 h2 {
    margin-bottom: 4rem;
    font-size: 40px;
    text-align: center;
}

.about p {
    font-size: 18px;
}

.card {
    width: 12rem;
    height: 16rem;
}

.card-img-top {
    height: 10rem;
    object-fit: cover;
}

.card-text {
    font-size: 1em;
}