.asteriskField {
    display: none;
}

.pageTitle h2 {
    margin-bottom: 1rem;
    font-size: 40px;
    text-align: center;
}

.pageTitle h3 {
    margin-top: 1rem;
    margin-bottom: 4rem;
    font-size: 20px;
    text-align: center;
}

.btn-primary {
    background-color: #a16ae8;
    border: 0px;
    border-radius: 30px;
    min-width: 160px;
    font-size: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

#search {
    width: 50%;
    border-radius: 5px;
    padding: 0.5em 1em;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#searchresults {
    margin-bottom: 4rem;
}

th {
    background-color: #63d14d;
    color: #fafafa;
    width: 50%;
    text-align: center;
}

tr, td {
    background-color: #fafafa;
    padding: 0.75em;
    overflow: auto;
    width: 10%;
    border: 0.5px solid #dddddd;
}

tr:hover, td:hover {
    background-color: #dadada;
}