.column {
    text-align: center;
    background-color: #f0f0f0;
}

.column h1 {
    margin-top: 8rem;
}

.column p {
    font-size: medium;
}

.column2 {
    background-color:#E0E0E0;
}

.button {
    background: #A16AE8;
    border-radius: 30px;
    padding: 0.5em 0.75em;
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    margin: 0.75em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}

.button:hover {
    background-color: #8c63c2;
}

.card {
    width: 20rem;
    height: 28rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.card-img-top {
    height: 16rem;
    object-fit: cover;
}

.card .button {
    background: #A16AE8;
    border-radius: 30px;
    padding: 0.5em 0.75em;
    color: #ffffff;
    font-size: 1em;
    margin-bottom: 1em;
}

.card p {
    font-size: 0.9em;
}

.card:hover {
    box-shadow: 0px 2px 20px rgba(0,0,0,0.2);
}